.appointment-form{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 40px 15%;
}

.left{
    width: 75%;
}
.right{
    width: 25%;
    background-color: antiquewhite;
}

form .form-section{
    display: flex;
    flex-wrap: wrap;
}
form .form-section h2{
    background-color: antiquewhite;
    width: 100%;
}
form .left .form-section .form-group{
    display: flex;
    flex-direction: column;
    width:calc(50% - 40px);
    margin-right: 40px;
}

.detail-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}